<!DOCTYPE html>
<html>
<body>
    <h1>Pytho Script For the Email validation</h1>

    <form method="POST" enctype="multipart/form-data" action="/">
        <input type="file" id="myFile" name="uploaded-file" accept=".csv">
        <input type="submit" value="Upload file">
    </form>


<p style="color:blue;">file uploaded successfully</p>
<a class="button" href="/validate_email" class="btn btn-outline-dark btn-sm mx-1">
   
Check Email and make new file with validate Emails
</a>

</body>
</html>